.rcontainer{
    position: relative;
    display: flex;
    width: 1691px;
    height: 1432.73px;
    left: 120px;
    right: 101px;
    top: 50px;
}

.dashboard{
    position: relative;
    width: 1200px;
    height: 1375px;
    /* left: 101px; */
    margin-left: 0;
    float: left;
}

.dashboard_header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px, 64px;
    gap: 16px;
    isolation: isolate;

    position: relative;
    width: 1200px;
    height: 118px;

    background-color: #031059;
    border-radius: 20px;
}

.dashboard_header_title{
    position: relative;
    width: auto;
    height: auto;
}

.d_h_t_p{
    position: relative;
    height: 68px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 68px;

    left: 50px;

    margin-top: 25px;
    margin-bottom: 25px;
}

.dashboard_header_icon{
    position: relative;
    width: 59px;
    height: 59px;
    left: 26px;
    top: 30px;

}

.dashboard_main{
    width: 1200px;
    height: 1247px;
    border-radius: 20px;

    background: #FFF2B0;
}

.sticky_list_container{
    position: relative;
    width: 390px;
    height: 1432.73px;
    margin-left: 101px;
    /* left: 1428.87px; */
}

/* .stickey_main{
    box-sizing: border-box;

    position: absolute;
    width: 390.13px;
    height: 1341px;
    left: calc(50% - 390.13px/2 + 663.93px);

    border: 1px dashed #7B61FF;
    border-radius: 5px;
} */

.dashboard_controler{
    position: absolute;
    width: 162.5px;
    height: 68px;
    left: 1011px;

    flex: none;
    order: 2;
    top: 25px;
    flex-grow: 0;
    z-index: 2;
}

.clean{
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;

    border-radius: 100px;

    background: #FFF2B0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* text-align: center; */
    justify-content: center;
    align-items: center;

    float: left;
    margin-right: 25px;
}

.save{
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;

    border-radius: 100px;

    background: #FFF2B0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* text-align: center; */
    justify-content: center;
    align-items: center;
}