.mentor_reservation_page_container{
    display: flex;
    width: 100%;
}

.mentor_reservation_page_inner_container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin:0 auto;
}

.mentor_canceled_card_list{
    pointer-events: none;
}