.vcTmp{
    position: absolute;
    
}

.video_conference_container{
    width: 1920px;
    height: 1080px;
    background: #0d0d0d;
    display: grid;
    grid-template-columns: 70% 30%;
}

.video_conference_left{
    display: grid;
    grid-template-rows: 20% 70% 10%;
}

.video_conference_mine{
    display: flex;
    justify-content: center;
}

.video_conference_mine_screen{
    height: Calc(100px*2);
    width: calc(190px*2);
    background: white;
    margin: auto;
}

.video_conference_oppnent{
    display: flex;
    justify-content: center;
}

.video_conference_oppnent_screen{
    height: Calc(100px*7);
    width: calc(190px*7);
    background: white;
    margin: auto;
}

.video_conference_right{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.video_conference_chat_content_ul{
    margin:auto;
    width: 80%;
    height: 80%;
    background: #ffffff;
}

.video_conference_chat_container{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.video_conference_chat_input{    
    width: 85%;
    height: 80%;
    background: #ffffff;
}