.draggable {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }

.login_join_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 576px;
    height: 626px;
    left: calc(50% - 576px/2);
    top: calc(50% - 626px/2);
}

.login_join_logo_name{
    position: absolute;
    width: 223px;
    height: 50px;
    left: 176.5px;
    top: 0px;
    justify-content: center;

    /* font-family: 'DM Serif Text'; */
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;

    display: flex;
    align-items: center;

    color: #031059;
}

.nomal_area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    margin-top: 70px;

    width: 576px;
    height: 363px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.text_box{
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    margin-top: 20px;
    margin-bottom: 12px;

    width: 576px;
    height: 52px;

    border: 1px solid #D3D3D3;
    border-radius: 20px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.text_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 11px 12px;
    gap: 4px;

    width: 288px;
    height: 38px;

    /* flex: none;
    order: 1;
    flex-grow: 0; */
}

.text_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 52px;
    height: 52px;

    background: #D9D9D9;
    border-right: 0.5px solid #D3D3D3;
    border-radius: 20px 0px 0px 20px;

    float: left;
}

.input_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 2px;

    width: 100%;
    height: 30px;

    flex: none;
    order: 0;
    flex-grow: 0;

    border: none;
}
.input_text:focus{outline: none;}

.icon{
    text-align: center;

    padding-top: 23px;
    padding-left: 2px;

    width: 44px;
    height: 44px;
}

.b_side{
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
}

.save_id{
    float: left;
    margin-right: 290px;
    margin-top: 0px;
    padding-top: 0px;
}

.save_id_input{
    margin-top: 0px;
    padding-top: 0px;
}

.submit_btn_upper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 64px;
    gap: 4px;

    width: 576px;
    height: 59px;

    background: #031059;
    
    box-shadow: 0px 1px 3px rgb(0, 0, 0, 0.45);
    border-radius: 20px;
    border-style: none;

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;

    color: white;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 0%;
    font-family: 'ABeeZee';
}
.submit_btn_upper:hover{
    background-color: #023E73;
    cursor: pointer;
}

.submit_btn_lower{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 64px;
    gap: 4px;

    width: 576px;
    height: 59px;

    background: #D9D9D9;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    border-style: none;

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;

    color: #031059;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 0%;
    font-family: 'ABeeZee';
}
.submit_btn_lower:hover{
    background-color: #A6A6A6;
    cursor: pointer;
}

.sns_login_contain{
    width: 480px;
    height: 80px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.sns_login{
    position: relative;
    width: 88px;
    height: 80px;
    left: 48px;

    margin-right: 60px;
    margin-bottom: 50px;
    float: left;
}

.login_footer{
    position: relative;
    text-align: center;
    width: 100%;
}

.footer_text{
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;

    color: #817C7C;
}

.hr_tag{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 98%;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
	box-shadow: 0 0 0 1000px white inset;
}

input::placeholder{color: rgba(0, 0, 0, 0.315);}


.login_text_box{
    line-height: 0px;
}
.checkEmail{
    color: red;
    font-size: small;
    padding: 0px;
    margin-left: 50px;
    line-height: 0px;
    /* height: 20px; */
}

.find_pwd{
    margin-top: 6px;
}