/* 카드 리스트 요소 전체를 감싸는 컨테이너 */
.card_list_container{    

    width: 1600px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: dotted 1px #dadada;
    border-radius: 15px;
    margin-top: 300px;
}

/* 리스트 내부 해더와 카드리스트를 감싸는 컨테이너 */
.card_list_inner_container{
    /* box-sizing: border-box; */
    margin:0px;
    width: 1600px;
    height: 260px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

/* 제목이 들어가는 헤더 */
.card_list_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    gap: 1px;

    width: 1600px;
    height: 60px;


    background: #031059;
    border-radius: 13px;
}

/* 헤더 내용 텍스트 */
.header_text{
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* 좌 우 화살표를 담는 컨테이너 */
.card_list_arrow{
    width: 80px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_list_arrow{
    cursor: pointer;
}
/* 화살표를 담는 버튼 */
.arrow_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 80px;
    
    background: #ffffff;

    border-radius: 30px;
    box-shadow:  3px 3px 5px gray;
    
}

.arrow{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;    
    
}

/* 카드들을 담는 컨테이너 */
.card_container{
    width: 1480px;
    height: 260px;
    display: flex;
}
/* 카드 바깥 */
.card_outer{
    width: 360px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* 카드 본체 */
.card{
    width: 340px;
    height: 220px;
    margin: 10px;
    background-color: #d9d9d9;
    border-radius: 20px;
    box-shadow:  5px 5px 5px gray;
}

.card_mentor_name{
    font-size: 24px;
    height: 35%;
    line-height: 88px;
    transform: translate(5%);
}

.card_mentor_info{
    font-size: 18px;
    height: 20%;
    line-height: 44px;
    transform: translate(5%);
}

.card_time{
    font-size: 14px;
    height: 20%;
    line-height: 44px;
    transform: translate(5%);
}


.card:hover{
    box-shadow: 0px 0px 0px #FFFFFF;
    background: #a6a6a6;
    cursor: pointer;
}

.arrow_button:hover{

    background: #023e73;
    cursor: pointer;
    box-shadow:  0px 0px 0px #ffffff;
    
}