/* 카운트 배너의 가장 큰 테두리 */
.count_banner {
    /* position: absolute; */
    width: 1920px;
    height: 300px;
    left: calc(50% - 1920px/2);
    background: #D9D9D9;
    display: flex;
    justify-content: space-between;
}

/* 카운트 배너의 카운트들을 모아둔 부분 */
.count_main {
    display: flex;
    flex-direction: row;
    justify-content: flex-evenly;
    padding: 0px;

    transform: translate(0,50%);

    position: relative;
    width: 1084.82px;
    height: 150.59px;
    left: 408.09px;
    align-items: center;
}

.count {
    width: 246px;
    height: 155px;
}

.count_text {
    display: flex;
    align-items: center;
    padding: 0px;

    width: 192px;
    height: 155px;
    left: 146.41px;
    line-height: 155px;
}

.count_text_num {
    width: 77px;
    height: 106px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    color: #0D0D0D;
}

.count_text_name {
    width: 150px;
    height: 33px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #031059;
}

.count_line {
    display: flex;
    position: relative;
    width: 130px;
    height: 155px;
    transform: translate(0,-25%);
    left: 200px;
    bottom: 100px;
    border-left: 2px solid ;
    /* border: 1px solid #0D0D0D; */
    /* transform: rotate(90deg); */
}