.mentoring_list_component {
  position: relative;
  display: grid;
  width: 500px;
  height: 500px;
  margin-left: 100px;
}

th {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  /* or 31px */

  align-items: center;
  letter-spacing: 0.02em;

  color: #031059;
}
