.mentoring_list_component {
  position: relative;
  display: grid;
  width: 500px;
  height: 500px;
  margin-left: 100px;
}

.mentoring_list__table_header {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  height: 25px;
  /* or 31px */

  align-items: center;
  letter-spacing: 0.02em;

  color: #031059;
}

table {
  width: 100%;
  border-collapse: collapse;
  }
  
  th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  }
  
  th {
  background-color: #ddd;
  }