*{
  text-decoration: none;
}

.calendar_component {
  position: relative;
  display: grid;
  width: 600px;
  height: 500px;
  background-color: #a6a6a6;
  border-radius: 50px;

  text-align: center;
}


.calendar_component>.react-calendar {
  width: 600px;
  height: 500px;
  margin : 0 auto;

  border-radius: 14px;
  background: #023E73;
  border: 1px #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.calendar_component>.react-calendar--doubleView {
  width: 700px;
}

.calendar_component>.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.calendar_component>.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.calendar_component>.react-calendar *,
.calendar_component>.react-calendar *:before,
.calendar_component>.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px;
  font-size: 16px;
}


.calendar_component>.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.calendar_component>.react-calendar button:enabled:hover {
  cursor: pointer;
}

.calendar_component>.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.calendar_component>.react-calendar__navigation__label__labelText{
  display: flex;
  margin : 0 auto;
}

.calendar_component>.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color:  #FFFFFF;
}

.calendar_component>.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.calendar_component>.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
}

.calendar_component>.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.calendar_component>.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.calendar_component>.react-calendar__month-view__days__day {
  color: #FFFFFF;
}
.calendar_component>.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.calendar_component>.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.calendar_component>.react-calendar__year-view .react-calendar__tile,
.calendar_component>.react-calendar__decade-view .react-calendar__tile,
.calendar_component>.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
  color: white;
}
.calendar_component>.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  border-radius: 15px;
}

.calendar_component>.react-calendar__tile--hasActive {
  color: white;
}

.calendar_component>.react-calendar__tile--active {
  background: #A6A6A6;
  color: white;
}
.calendar_component>.react-calendar__tile--active:enabled:hover,
.calendar_component>.react-calendar__tile--active:enabled:focus {
  background: #A6A6A6;
}
.calendar_component>.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

