.result_component {
    position: relative;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    
    width: 1400px;
    height: 800px;

    border: 1px solid black;
    border-radius: 50px;
}

.result_component_card{
    position: relative;
    display: grid;

    align-items: center;
    justify-content: center;
}