
version: '3.3'
services:

  jenkins:
    container_name: jenkins
    image: jenkins/jenkins:lts
    ports : 
      - '8100:8080'
    volumes:
      - ./home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock