.applying_card_widget{
    position: relative;
    display: grid;

    grid-template-rows: 1fr 30px 70px;

    align-items: center;
    padding-left: 30px;
    padding-top: 20px;
    width: 220px;
    height: 150px;

    border-radius: 30px;

    background-color: #031059;

    cursor: pointer;
}

.belongImage{
    width: 160px;
    height: 40px;
}

.applying_card_text{
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 25px */


    color: #FFFFFF;
}