.chat_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;

    width: 364px;
    height: 72px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.avatar{
    width: 48px;
    height: 48px;

    background: violet;
    border-radius: 100px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.chat_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 268px;
    height: 42px;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.chat_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 268px;
    height: 20px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.chat_user_name{
    width: 236px;
    height: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #011627;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.last_time{
    width: 32px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #707991;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.last_message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 268px;
    height: 18px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.message{
    width: 112px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #707991;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.new_message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 18px;
    height: 18px;

    background: #78E378;
    border-radius: 100px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.count{
    width: 16px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}