/* 카드 바깥 */
.card_outer{
    width: 30%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 카드 본체 */
.reservation_card{
    width: 244px;
    height: 180px;
    margin: 10px;
    background-color: #d9d9d9;
    border-radius: 20px;
    box-shadow:  5px 5px 5px gray;

    font-family: 'Do Hyeon', sans-serif;
}

.card_name{
    font-size: 24px;
    height: 35%;
    line-height: 88px;
    transform: translate(5%);
    color: #031059;
}

.card_info{
    font-size: 18px;
    height: 20%;
    line-height: 44px;
    transform: translate(5%);
}

.card_time{
    font-size: 14px;
    height: 20%;
    line-height: 44px;
    transform: translate(5%);
}


.reservation_card:hover{
    box-shadow: 0px 0px 0px #FFFFFF;
    background: #0d0d0d;
    opacity: 80%;
    cursor: pointer;
}

/* 호버시 나타날 드래그 취소 설명서 기본 디스플레이 none*/
.cancel_description{
    width: 244px;
    height: 180px;
    background-color: #a6a6a670;
    border-radius: 20px;
    
    color: #d9d9d984;
    line-height: 180px;

    position: absolute;
    z-index: 2;

    display: none;
}

/* 카드 호버시 나타나게 설정 */
.reservation_card:hover > .cancel_description{
    background-color: #ffffff13;
    display: block;
    
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.draggble_false:hover{
    width: 244px;
    height: 180px;
    margin: 10px;
    background-color: #d9d9d9;
    border-radius: 20px;
    box-shadow:  5px 5px 5px gray;

    font-family: 'Do Hyeon', sans-serif;
    cursor:default;
}

.draggble_false:hover > .cancel_description{
    display: none;
}